@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
              method="post"
              class="d-inline">
            <button type="submit" class="btn btn-outline-light btn-sm ms-2">
                Logout
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link"
           asp-area="Identity"
           asp-page="/Account/Login">
            Admin Login
        </a>
    </li>
}